<div class="product-template__container container" {% comment %}itemscope itemtype="http://schema.org/Product"{% endcomment %} id="ProductSection-{{ product.id }}" data-section-id="{{ product.id }}" data-section-type="product" data-enable-history-state="true" data-crossclick="{% if settings.enable_crossclick %}allow{% endif %}" data-comingsoon="{% if product.tags contains 'coming soon' %}true{% else %}false{% endif %}">

  {% include 'richcards' %}
  {% comment %} {% include 'breadcrumbs' %} {% endcomment %}

  <!--
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '1200x' }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="sku" content="{{ product.variants.first.sku }}">
  <meta itemprop="description" content="{{ product.description | escape }}">
  -->

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_thumb_size = '1200x' -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'col-md-20' -%}
      {%- assign product_description_width = 'col-md-40' -%}
      {%- assign product_thumbnail_width = 'col-md-20' -%}
      {%- assign product_thumbnail_perrow = '3' %}
      {%- assign product_image_size = '1200x' -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'col-md-30' -%}
      {%- assign product_description_width = 'col-md-30' -%}
      {%- assign product_thumbnail_width = 'col-md-15' -%}
      {%- assign product_thumbnail_perrow = '4' %}
      {%- assign product_image_size = '1200x' -%}
    {% when 'large' %}
      {%- assign product_image_width = 'col-md-40' -%}
      {%- assign product_description_width = 'col-md-20' -%}
      {%- assign product_thumbnail_width = 'col-md-12' -%}
      {%- assign product_thumbnail_perrow = '5' %}
      {%- assign product_image_size = '1200x' -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'col-md-6' -%}
      {%- assign product_thumbnail_perrow = '10' %}
      {%- assign product_image_size = '1200x' -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}

  {%- assign product_thumbnail_perrow = product_thumbnail_perrow | times: 1 -%}

  <div class="row product-single">
    <div class="product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      {%- assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src -%}
      {%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}

      {% if settings.enable_crossclick %}
        {%- assign prod_image_size = 0 -%}
        {% for image in product.images %}
          {% if image.attached_to_variant? %}
            {%- assign prod_image_size = prod_image_size | plus: 1 -%}
          {% endif %}
        {% endfor %}
      {% else %}
        {%- assign prod_image_size = product.images.size -%}
      {% endif %}

      {% if section.settings.vertical and prod_image_size > 1 %}
        <div class="row vertical-thumbs">
          <div class="col-lg-50 push-lg-10">
          <div class='product-single__meta hidden-md-up text-center'>
            <h1 itemprop="name" class="product-single__title mb-2">{{ product.title }}</h1>
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
      {% endif %}
      <div id="FeaturedImageZoom-{{ product.id }}" class="product-single__photo{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}" {% if enable_zoom %}data-zoom="{{ featured_img_src | img_url: product_image_zoom_size }}"{% endif %}>
        <img src="{{ featured_img_src | img_url: product_image_size }}" alt="{{ featured_img_alt }}" id="FeaturedImage-{{ product.id }}" class="product-featured-img{% if enable_zoom %} js-zoom-enabled{% endif %}">
        {% for block in section.blocks %}
          {%- assign product_block = all_products[block.settings.product] -%}
          {% if product.handle == product_block.handle %}
          {% if block.settings.vide_type == 'youtube' %}
            {% assign video_url = "http://www.youtube.com/watch?v=" | append: block.settings.video_id %}
            {% else %}
            {% assign video_url = "https://vimeo.com/" | append: block.settings.video_id %}
          {% endif %}
            <a class="popup-video product-video-icon"  href="{{video_url}}" style="display:none"><img  src="https://cdn.shopify.com/s/files/1/0447/3157/files/video-btn.png?4338"></a>
            {% endif %}
        {% endfor %}
      </div>
      {% if prod_image_size > product_thumbnail_perrow %}
        {%- assign enable_buttons = true -%}
      {% endif %}

      {% if prod_image_size > 1 %}

      {% if section.settings.vertical and prod_image_size > 1 %}
        </div>
        <div class="col-lg-10 pull-lg-50">
      {% endif %}
        <div class="thumbnails-wrapper">
          {% if enable_buttons == true %}<a id="prevArrow"><i class="fa fa-angle-{% if section.settings.vertical %}up{% else %}left{% endif %}"></i></a>{% endif %}
          <ul class="product-single__thumbnails product-single__thumbnails-{{ product.id }}">
            {% if settings.enable_crossclick %}
              {%- assign attach_tot = 0 -%}
              {%- assign cross_need = false -%}
              {% for image in product.images %}
                {% if image.attached_to_variant? %}
                  {%- assign attach_tot = attach_tot | plus: 1 -%}
                  {% include 'loop-thumbnail' %}
                {% endif %}
              {% endfor %}
              {% unless attach_tot == product.images.size %}
                {%- assign cross_need = true -%}
              {% endunless %}
            {% else %}
              {% for image in product.images %}
                {% include 'loop-thumbnail' %}
              {% endfor %}
            {% endif %}
                {% for block in section.blocks %}
                  {%- assign product_block = all_products[block.settings.product] -%}
                  {% if product.handle == product_block.handle %}
                     <li class="product-single__thumbnails-item video-thumb">
                        <a href="{{block.settings.image | img_url: '600x' }}" class="text-link product-single__thumbnail product-single__thumbnail--{{ product.id }}" style="background-image:url({{block.settings.image | img_url: '600x' }});">
                        <img  src="https://cdn.shopify.com/s/files/1/0447/3157/files/video-btn.png?4338" class="small-play-button"> 
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
          </ul>
          {% if enable_buttons == true %}<a id="nextArrow"><i class="fa fa-angle-{% if section.settings.vertical %}down{% else %}right{% endif %}"></i></a>{% endif %}
        </div>
      {% endif %}
      {% if section.settings.vertical and prod_image_size > 1 %}
          </div>
        </div>
      {% endif %}
    </div>

{% assign product_description = product.content | split: '<h6>Split</h6>' %}
    <div class="{{ product_description_width }}">
      <div class="product-single__meta mt-3 mt-md-0">
          <div class="hidden-sm-down">
           <h1 itemprop="name" class="product-single__title mb-2">{{ product.title }}</h1>
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
        {% if section.settings.show_vendor %}
          <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
        {% endif %}
        <div class="selector-wrapper {{ product.handle }} js col col-md=60">
        <div {% comment %}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{% endcomment %}>
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <meta itemprop="price" content="{{ product.selected_or_first_available_variant.price | money_without_currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          <form action="/cart/add" method="post" enctype="multipart/form-data" class="row align-items-end product-form product-form-{{ product.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ product.id }}">
{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
              {% for option in product.options_with_values %}
                <div class="col-xl-20 col-md-60 col-sm-20 selector-wrapper {{ product.handle }} js">
                  <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select class="single-option-selector single-option-selector-{{ product.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% if settings.enable_colorswatch %}
                  {% include 'swatch' with option.name %}
                {% endif %}
              {% endfor %}
            {% endunless %}
            <p class="col-xl-20 col-md-60 col-sm-20 product-single__price product-single__price-{{ product.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
            {% if current_variant.compare_at_price > current_variant.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice-{{ product.id }}">{{ current_variant.compare_at_price | money }}</s>
                <span class="product-price__price product-price__price-{{ product.id }}product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ product.id }}">{{ current_variant.price | money }}</span>
                  <span class="product-price__sale-label product-price__sale-label-{{ product.id }}">{{ 'products.product.on_sale' | t }}</span>
                </span>
            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <s id="ComparePrice-{{ product.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
              <span class="product-price__price product-price__price-{{ product.id }}">
                <span id="ProductPrice-{{ product.id }}">{{ current_variant.price | money }}</span>
                <span class="product-price__sale-label product-price__sale-label-{{ product.id }} hide">{{ 'products.product.on_sale' | t }}</span>
              </span>
            {% endif %}
          </p>
            <select name="id" id="ProductSelect-{{ product.id }}" data-section="{{ product.id }}" class="product-form__variants col no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
            {% if section.settings.show_quantity_selector %}
              <div class="col-xl-20 col-md-60 col-sm-20 product-form__item product-form__item--quantity">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
              </div>
            {% endif %}
            
            {% if product.tags contains 'gift certificate' %}
            	<style>
            		#AddToCart-{{ product.id }} {
                    	display: none!important;
                    }
            	</style>
            {% endif %}
            
            <div class="col-60">
              <div class="row">
                <div class="col-lg-40 col-md-60 col-sm-40{% if settings.cartajax %}-60{% endif %} product-form__item product-form__item--submit">
                  <div class="button{% if product.options.size == 1 and product.variants[0].title == 'Default Title' and settings.cartajax == false %} product-form__cart-submit--small{% endif %}">
                    <div class="add">
                      
                      {% if product.tags contains 'coming soon' %}
                      	<button type="submit" name="add" id="AddToCart"  disabled="disabled" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit 1">
                        <span id="AddToCartText">
                           Coming Soon
                        </span>
                      </button>
                       {% else %}
                          <button type="submit" name="add" id="AddToCart-{{ product.id }}"  {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit 2">
                        <span id="AddToCartText-{{ product.id }}">
                          
                            {% if current_variant.available %}
                             {{ 'products.product.add_to_cart' | t }}
                         	 {% else %}
                              {{ 'products.product.sold_out' | t }}
                            {% endif %}
                        </span>
                      </button>
                       {% endif %}
                      
                      {% if settings.cartajax %}
                        <a class="btn checkout" href="/cart">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Checkout</span>
                        </a>
                        <a class="btn cont" href="{% if collection %}{{ collection.url }}{% else %}/collections/all{% endif %}">
                          <i class="fa fa-angle-right" aria-hidden="true"></i><span>Continue</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-lg-40 col-md-60 col-sm-40 hidden-sm-up mobile-addtocart-button {% if settings.cartajax %}-60{% endif %} product-form__item product-form__item--submit">
                  <div class="button{% if product.options.size == 1 and product.variants[0].title == 'Default Title' and settings.cartajax == false %} product-form__cart-submit--small{% endif %}">
                    <div class="add">
                      <button type="submit" name="add" id="AddToCart-{{ product.id }}-2" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit 3">
                        <span id="AddToCartText-{{ product.id }}-2">{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}
                          {% if product.tags contains 'coming soon' %}
                              {{ 'products.product.coming_soon' | t }}
                            {% else %}
                             <p class="product-single__price product-single__price-{{ product.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
                              Buy Now
                                  <span class="mobile-product-price">
                                    {% if current_variant.compare_at_price > current_variant.price %}
                                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                                      <s id="ComparePrice-{{ product.id }}">{{ current_variant.compare_at_price | money }}</s>
                                      <span class="product-price__price product-price__price-{{ product.id }}product-price__sale product-price__sale--single">
                                        <span id="ProductPrice-{{ product.id }}">{{ current_variant.price | money }}</span>
                                        <span class="product-price__sale-label product-price__sale-label-{{ product.id }}">{{ 'products.product.on_sale' | t }}</span>
                                      </span>
                                  {% else %}
                                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                                    <s id="ComparePrice-{{ product.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
                                    <span class="product-price__price product-price__price-{{ product.id }}">
                                      <span id="ProductPrice-{{ product.id }}">{{ current_variant.price | money }}</span>
                                      <span class="product-price__sale-label product-price__sale-label-{{ product.id }} hide">{{ 'products.product.on_sale' | t }}</span>
                                    </span>
                                  {% endif %}
                                  </span>
                                </p>
                               {% endif %}
                          {% endunless %}
                        </span>
                      </button>
                      {% if settings.cartajax %}
                        <a class="btn checkout" href="/cart">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Checkout</span>
                        </a>
                        <a class="btn cont" href="{% if collection %}{{ collection.url }}{% else %}/collections/all{% endif %}">
                          <i class="fa fa-angle-right" aria-hidden="true"></i><span>Continue</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {%- assign cart_tot = cart.total_price -%}
                {%- assign cart_minus = 0 -%}
                {% for item in cart.items %}
                  {% if item.product_id == 390315048988 or item.product_id == 423895728156 or item.gift_card %}
                    {%- assign cart_minus = cart_minus | plus: item.price -%}
                  {% endif %}
                {% endfor %}
                {%- assign cart_tot = cart_tot | minus: cart_minus | money_without_currency -%}
                {%- assign cart_freeship = section.settings.free_ship | times: 1 -%}
                {%- assign countdown = cart_freeship | minus: cart_tot -%}
                <div class="col-md-60"><span class="countdown">{% if countdown > 0 %}Free Shipping -  ${{ countdown | times: 100 | money_without_currency }} more to ship for free{% else %}You have free shipping{% endif %}</span></div>
              </div>
              {% unless settings.enable_crossclick %}
              <div class="product-single__description rte" itemprop="description">
                <div class="hidden-sm-down">
                {{ product_description[0] }}
                </div>
                <div class="hidden-md-up">
                <div class="product-description-mobile">
                  {{ product_description[0] }}
                </div>
                </div>
              </div>
              </div>
            {% endunless %}
            {% if settings.enable_crossclick and product.images.size == prod_image_size %}
            <div class="product-single__description rte" itemprop="description">
              <div class="hidden-sm-down">
              {{ product_description[0] }}
              </div>
              <div class="hidden-md-up">
              {{ product_description[0] | truncatewords: 50, "..." }}
              </div>
            </div>
            {% endif %}
          </form>
          {% if section.settings.enable_wishlist %}
            {% include 'wishlist' %}
          {% endif %}
        </div>
      </div>
        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if settings.enable_crossclick %}
  {% if cross_need and product.images.size != prod_image_size %}
    <div id="description">
      <div class="container">
        <div class="row product-single">
          <div class="col-md-60">
            <div class="row">
                <div class="col-md-28 offset-md-2 col-60">
                  <div class="thumbnails-wrapper--secondary">
                    {% for image in product.images %}
                      {% unless image.attached_to_variant? %}
                        <a href="{{ image.src | img_url: 'original' }}" alt="{{ image.alt }}" class="mp-image image-rect" style="background-image:url({{ image.src | img_url: product_image_size }});">
                    <img src="{{ image.src | img_url: '1024x' }}">
                    </a>
                      {% endunless %}
                    {% endfor %}
                  </div>
                </div>
              <div class="{% if cross_need %}col-md-28 offset-md-2 col-60{% else %}col{% endif %}">
                <div class="product-single__description rte" itemprop="description" style="margin-top:0px; margin-bottom:30px;">
                  <h3>Details</h3>
                  {{ product_description[0] }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(window).load(function(){
        $('.thumbnails-wrapper--secondary').slick({
          infinite: true,
          autoplay: true,
          autoplaySpeed: 5000,
          speed: 350,
          fade: true,
          arrows:true,
          cssEase: 'ease'
        });
        $('.thumbnails-wrapper--secondary .slick-track').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: {
            enabled:true
          }
        });
      });
    </script>
  {% endif %}
{% endif %}
<div class="cd-tabs js-cd-tabs container">
    <nav>
      <ul class="cd-tabs__navigation js-cd-navigation d-flex">
        {% if product_description[1]  %}
        <li><a data-content="detail"  href="#0">Other Details</a></li>
        {% endif %}
        {% if product_description[1]  %}
        <li><a data-content="ingredients" href="#0">Ingredients</a></li>
        {% endif %}
        <li><a data-content="reviews" class="cd-selected reviews-tab" href="#0">Reviews</a></li>
        {% comment %}<li><a data-content="related" class="related-tab" href="#0">Related</a></li>{% endcomment %}
      </ul>
    </nav>
    <ul class="cd-tabs__content js-cd-content">
          {% if product_description[1]  %}
          <li data-content="detail">
        <div class="related-single__row col" data-tabtype="Other Details">
          <div class="row">
            {{ product_description[1] | remove: 'Osmia does not make any claims to treat or cure acne, perioral dermatitis, or any other skin condition with this or any of their products. All reviews reflect the personal views of our customers, and do not imply or represent any claims by Osmia. Individual results may vary.' | remove: 'Osmia’s products are formulated to be appropriate for a range of skin types but they do not prevent, treat, or cure any skin condition. All reviews reflect the personal views of our customers, and do not imply or represent any claims by Osmia. Individual results may vary.' }}
            <div id="seals">
            <p>
            {% for tag in product.tags %}
            {% if tag == 'seal-cruelty-free' %}
                <img src="https://cdn.shopify.com/s/files/1/0018/8615/8906/files/seal-cruelty-free.jpg?13047908160849821317">
              {% endif %}
              {% if tag == 'seal-cruelty-free-vegan' %}
                <img src="https://cdn.shopify.com/s/files/1/0018/8615/8906/files/seal-cruelty-free-vegan.jpg?9324730989827934415">
              {% endif %}
              {% if tag == 'seal-pao-6' %}
                <img src="https://cdn.shopify.com/s/files/1/0018/8615/8906/files/seal-pao-6.jpg?2212543621032509186">
              {% endif %}
              {% if tag == 'seal-pao-18' %}
                <img src="https://cdn.shopify.com/s/files/1/0018/8615/8906/files/seal-pao-18.jpg?9324730989827934415">
              {% endif %}
              {% if tag == 'seal-pao-9' %}
                <img src="https://cdn.shopify.com/s/files/1/0018/8615/8906/files/seal-pao-9.jpg?3814604937066712623">
              {% endif %}
              {% if tag == 'seal-pao-12' %}
                <img src="https://cdn.shopify.com/s/files/1/0018/8615/8906/files/seal-pao-12.jpg?12010838856478319964">
              {% endif %}
              {% if tag == 'seal-heat' %}
                <img src="https://cdn.shopify.com/s/files/1/0018/8615/8906/files/seal-heat.jpg?15650637794584002527">
              {% endif %}
            {% endfor %}
          </p>
        </div>
        
          {% comment%} For Disclaimner 
          {{ section.settings.disclaimner }}
            {% endcomment %}
          </div>
        </div>
        </li>
      {% endif %}
      {% if product_description[2] %}
      <li data-content="ingredients">
          <div class="row">
            {{ product_description[2] }}
          </div>
      </li>
      {% endif %}
      <li data-content="reviews" class="reviews-tab cd-selected">
        <div class="row">
          {% comment%} For Disclaimner 
          {{ product_description[3] }}
          {% endcomment %}
          
          <em>{{ section.settings.disclaimner }}</em>

            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
      </li>
         
        
          <li data-content="related" class="related-tab">
           {%- assign number_of_products = 4 -%}
        {%- assign number_of_products_to_fetch = number_of_products | plus: 1 -%}
            {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
              {%- assign found_a_collection = false -%}
              {% for c in product.collections %}
                {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
                  {%- assign found_a_collection = true -%}
                  {%- assign collection_related_second = c -%}
                {% endif %}
              {% endfor %}
            {% else %}
              {%- assign collection_related_second = collection -%}
            {% endif %}
            {% if collection_related_second and collection_related_second.products_count > 1 %}
            {% for block in section.blocks %}
                {%- assign current_product = all_products[block.settings.related_product] -%}
                  {% if product.handle == current_product.handle and block.type == 'related_products' %}
                  <div class="container">
                  <div class="related-single__row col" data-tabtype="Related">
                    <div class="row justify-content-center text-center">
                      {% if block.settings.product_1 != blank %}
                    <div class="col-md-15">
                      {%- assign product = all_products[block.settings.product_1] -%}
                        {% include 'product-card-grid', grid_image_width: '250x' %}
                      </div>
                      {% endif %}
                      {% if block.settings.product_2 != blank %}
                      <div class="col-md-15">
                      {%- assign product = all_products[block.settings.product_2] -%}
                        {% include 'product-card-grid', grid_image_width: '250x' %}
                      </div>
                      {% endif %}
                      {% if block.settings.product_3 != blank %}
                      <div class="col-md-15">
                      {%- assign product = all_products[block.settings.product_3] -%}
                        {% include 'product-card-grid', grid_image_width: '250x' %}
                      </div>
                      {% endif %}
                      {% if block.settings.product_4 != blank %}
                      <div class="col-md-15">
                      {%- assign product = all_products[block.settings.product_4] -%}
                        {% include 'product-card-grid', grid_image_width: '250x' %}
                      </div>
                      {% endif %}
                      </div>
                  </div>
                  </div>
                  {% break %}
                  {% else %}
                  {% if forloop.last == true %}
                    <div class="row">
                      {%- assign current_product = product -%}
                      {%- assign current_product_found = false -%}
                      {% for product in collection_related_second.products limit: number_of_products_to_fetch %}
                        {% if product.handle == current_product.handle %}
                          {%- assign current_product_found = true -%}
                        {% else %}
                          {% unless current_product_found == false and forloop.last %}
                            <div class="col-md-15">
                              {% include 'product-card-grid', grid_image_width: '250x' %}
                            </div>
                          {% endunless %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </li>
        
    </ul>
  </div>
{% if collection %}
  <div class="text-center return-link-wrapper">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}
{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ product.id }}">
    {{ product | json }}
  </script>
{% endunless %}
{% if settings.enable_colorswatch %}
  <script type="text/javascript">
    $(document).ready(function() {
      jQuery('.swatch :radio').change(function() {
        var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
        var optionValue = jQuery(this).val();
        jQuery(this)
          .closest('form')
          .find('.single-option-selector')
          .eq(optionIndex)
          .val(optionValue)
          .trigger('change');
          setTimeout(function(){
          var currentSlide = $('.active-thumb').parent('li'),
              currSlideIndex = $( '.product-single__thumbnails li' ).index( currentSlide );
          $('.product-single__thumbnails').slick('slickGoTo',currSlideIndex);
        },50);
      });
    });
  </script>
{% endif %}
{% javascript %}
  $(document).ready(function(){
    $('.products-related').slick({
      infinite: false,
      arrows: false,
      dots: true,
      fade: true,
      customPaging : function(slider, i) {
        var tabtype = $(slider.$slides[i]).data('tabtype');
        return '<a class="btn btn--secondary">'+tabtype+'</a>';
      }
    });
  });
{% endjavascript %}
<script>
  $(window).load(function(){
    $('.product-single__thumbnails').on('init', function(slick){
      $('.product-single__thumbnails').resize();
    });
    $('.product-single__thumbnails').slick({
      infinite: true,
      slidesToShow: {{ product_thumbnail_perrow }},
      prevArrow: $('#prevArrow'),
      nextArrow: $('#nextArrow'),
      {% if section.settings.vertical %}
        vertical: true,
      {% endif %}
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: {{ product_thumbnail_perrow | minus: 1 }},
            vertical: false,
            dots: true
          }
        },
        {
          breakpoint: 576,
          settings: {
            {% unless product_thumbnail_perrow <= 2 %}
              slidesToShow: {{ product_thumbnail_perrow | minus: 1 }},
            {% endunless %}
            vertical: false
          }
        }
      ]
    });
  });
  (function(){
  function TabbedNavigation( element ) {
    this.element = element;
    this.navigation = this.element.getElementsByTagName("nav")[0];
    this.navigationElements = this.navigation.getElementsByClassName("js-cd-navigation")[0];
    this.content = this.element.getElementsByClassName("js-cd-content")[0];
    this.activeTab;
    this.activeContent;
    this.init();
  };
  TabbedNavigation.prototype.init = function() {
    var self = this;
    //listen for the click on the tabs navigation
    this.navigation.addEventListener("click", function(event){
      event.preventDefault();
      if(event.target.tagName.toLowerCase() == "a" && !hasClass(event.target, "cd-selected")) {
        self.activeTab = event.target;
        self.activeContent = self.content.querySelectorAll("[data-content="+self.activeTab.getAttribute("data-content")+"]")[0];
        self.updateContent();
      }
    });
    //listen for the scroll in the tabs navigation
    this.navigation.addEventListener('scroll', function(event){
      self.toggleNavShadow();
    });
  };
  TabbedNavigation.prototype.updateContent = function() {
    var actualHeight = this.content.offsetHeight;
    //update navigation classes
    removeClass(this.navigation.querySelectorAll("a.cd-selected")[0], "cd-selected");
    addClass(this.activeTab, "cd-selected");
    //update content classes
    removeClass(this.content.querySelectorAll("li.cd-selected")[0], "cd-selected");
    addClass(this.activeContent, "cd-selected");
    //set new height for the content wrapper
    (!window.requestAnimationFrame)
      ? this.content.setAttribute("style", "height:"+this.activeContent.offsetHeight+"px;")
      : setHeight(actualHeight, this.activeContent.offsetHeight, this.content, 200);
  };
  TabbedNavigation.prototype.toggleNavShadow = function() {
    //show/hide tabs navigation gradient layer
    this.content.removeAttribute("style");
    var navigationWidth = Math.floor(this.navigationElements.getBoundingClientRect().width),
      navigationViewport = Math.ceil(this.navigation.getBoundingClientRect().width);
    ( this.navigation.scrollLeft >= navigationWidth - navigationViewport )
      ? addClass(this.element, "cd-tabs--scroll-ended")
      : removeClass(this.element, "cd-tabs--scroll-ended");
  };
  var tabs = document.getElementsByClassName("js-cd-tabs"),
    tabsArray = [],
    resizing = false;
  if( tabs.length > 0 ) {
    for( var i = 0; i < tabs.length; i++) {
      (function(i){
        tabsArray.push(new TabbedNavigation(tabs[i]));
      })(i);
    }
    window.addEventListener("resize", function(event) {
      if( !resizing ) {
        resizing = true;
        (!window.requestAnimationFrame) ? setTimeout(checkTabs, 250) : window.requestAnimationFrame(checkTabs);
      }
    });
  }
  function checkTabs() {
    tabsArray.forEach(function(tab){
      tab.toggleNavShadow();
    });
    resizing = false;
  };
  function setHeight(start, to, element, duration) {
    var change = to - start,
          currentTime = null;
      var animateHeight = function(timestamp){
        if (!currentTime) currentTime = timestamp;
          var progress = timestamp - currentTime;
          var val = Math.easeInOutQuad(progress, start, change, duration);
          element.setAttribute("style", "height:"+val+"px;");
          if(progress < duration) {
              window.requestAnimationFrame(animateHeight);
          }
      };
      window.requestAnimationFrame(animateHeight);
  }
  Math.easeInOutQuad = function (t, b, c, d) {
    t /= d/2;
    if (t < 1) return c/2*t*t + b;
    t--;
    return -c/2 * (t*(t-2) - 1) + b;
  };
  //class manipulations - needed if classList is not supported
  function hasClass(el, className) {
      if (el.classList) return el.classList.contains(className);
      else return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
  }
  function addClass(el, className) {
    var classList = className.split(' ');
    if (el.classList) el.classList.add(classList[0]);
    else if (!hasClass(el, classList[0])) el.className += " " + classList[0];
    if (classList.length > 1) addClass(el, classList.slice(1).join(' '));
  }
  function removeClass(el, className) {
    var classList = className.split(' ');
      if (el.classList) el.classList.remove(classList[0]);
      else if(hasClass(el, classList[0])) {
        var reg = new RegExp('(\\s|^)' + classList[0] + '(\\s|$)');
        el.className=el.className.replace(reg, ' ');
      }
      if (classList.length > 1) removeClass(el, classList.slice(1).join(' '));
  }
})();

     /* if ($(window).width() < 768 ) {
      $('.cd-tabs__content li, .cd-tabs__navigation li a').removeClass('cd-selected');
       $('.related-tab').addClass('cd-selected');
     }
        $( window ).resize(function() {
          if ($(window).width() < 768 ) {

       $('.cd-tabs__content li, .cd-tabs__navigation li a').removeClass('cd-selected');
       $('.related-tab').addClass('cd-selected');

    }

   }); */


    $(document).ready(function(){
      

  $(".single-option-selector").change(function(){
    setTimeout(function(){
  price = $('#ProductPrice-{{ product.id }}').text();
  
  cartText = $('#AddToCartText-{{ product.id }}').text();
    if(cartText == "Sold out"){
      $('#AddToCart-{{ product.id }}-2').html("<p class='product-single__price'>Sold Out</p>");
      $('#AddToCart-{{ product.id }}-2').attr( "disabled", "disabled" );
    }else{
       $('#AddToCart-{{ product.id }}-2').removeAttr("disabled");
      $('#AddToCart-{{ product.id }}-2').html("<p class='product-single__price'>Buy Now " + price + "</p>");
    }
}, 500);
    
  });
    });
</script>
{% if settings.cartajax %}
  <script>
    $('#ProductSection-{{ product.id }} form').on('submit', function(e){
      e.preventDefault();
      $('#AddToCartText-{{ product.id }}').fadeOut(function() {
        $(this).text('{{ 'products.product.added_to_cart' | t }}').fadeIn(function() {
          setTimeout(function(){
            $('.button').toggleClass('opened');
            setTimeout(function(){
              $('#AddToCartText-{{ product.id }}').text('{{ 'products.product.add_to_cart' | t }}')
            },1000);
          },1000);
        });
      });
      setTimeout(function(){
        $('.button').toggleClass('opened');
      },10000);

      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        dataType: 'json',
        data: $(this).serialize(),
        success: function(response){
          $.ajax({
            type: 'GET',
            url: '/cart.js',
            dataType: 'json',
            success: function(cartdata){
              if(!$('#CartCount').length) {
                $('.site-header__cart').append('<div id="CartCount" class="site-header__cart-count"><span></span><span class="icon__fallback-text hidden-md-up">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span></div>');
              }
              $('#CartCount').find('span').first().text(cartdata.item_count);

              {% if settings.cartdropdown %}
                // Handlebars.js bralette layout
                var source = $("#CartTemplate").html(),
                    template = Handlebars.compile(source);

                var allItems = cartdata.items,
                    items = [],
                    item = {};

                // Add each item to our handlebars.js data
                $.each(allItems, function(index,varItem) {
                  var imageSmall = Shopify.resizeImage(varItem.image,'65x65');
                  item = {
                    id: varItem.id,
                    title: varItem.product_title,
                    variant: varItem.variant_title,
                    url: varItem.url,
                    price: Shopify.formatMoney(varItem.price, '${% raw %}{{amount}}{% endraw %}'),
                    quantity: varItem.quantity,
                    subtotal: Shopify.formatMoney(varItem.price * varItem.quantity , '${% raw %}{{amount}}{% endraw %}'),
                    image: imageSmall
                  };

                  items.push(item);
                });

                // Gather all  data and add to DOM
                data = {
                  total: Shopify.formatMoney(cartdata.total_price, '${% raw %}{{amount}}{% endraw %}'),
                  variants: items
                }

                $('.shopping-cart').html(template(data));
              {% endif %}

            },
            error: function(data){
              console.log(data);
            }
          });
        },
        error: function(data){
          alert('Something went wrong! Please refresh the page and try again');
        }
      });
      // console.log($(this).serializeArray())
      // Shopify.addItem();
    });
  </script>

  {% if settings.cartdropdown  %}
    <script id="CartTemplate" type="text/template">
      {% raw %}
        <ul class="shopping-cart-items">
          {{#variants}}
            <li id="cart-item-{{id}}" class="item clearfix">
              <a href="{{url}}" class="d-flex">
                <img src="{{image}}" alt="{{title}}" />
                <div class="product-details">
                  <span class="item-name">{{title}}</span>
                  <span class="item-option">
                    {{#if variant}}
                      <small>{{variant}}</small>
                    {{/if}}
                  </span>
                  <span class="item-price">{{price}}</span>
                  <span class="item-quantity">x {{quantity}}</span>
                   <span class="item-subtotal">{{subtotal}}</span>
                </div>
              </a>
            </li>
          {{/variants}}
        </ul>
        <div class="shopping-cart-header">
          {% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}: {{total}}
        </div>
        <a href="/cart" class="btn btn--secondary half">Cart</a>
        <a href="/checkout" class="btn btn--secondary half">Checkout</a>
      {% endraw %}
    </script>
  {% endif %}

{% endif %}
<style type="text/css">
  .slick-slider .slick-dots li{width: auto;}

</style>

{% if section.settings.slideshow_height == 'maintain_ratio' %}
  <style type="text/css">
    #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio {
      height: auto;
    }
    #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio .slideshow__slide {
      height: auto;
    }
    #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio .slideshow__slide:before {
      content: '';
      display: block;
      width: 100%;
      height: 0px;
      {% capture img_width %}{{ section.blocks[0].settings.image.width }}{% endcapture %}
      {% capture img_height %}{{ section.blocks[0].settings.image.height | times: 100 }}{% endcapture %}
      {% capture rounddown %}{{ img_height | divided_by: img_width }}{% endcapture %}
      padding-top: {{ rounddown | plus: 1 }}%;
    }
  </style>
{% endif %}
{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "vertical",
        "label": "Vertical thumbnails?",
        "info": "Works best when 'Image size' is larger"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "free_shipping",
        "label": "Free Shipping",
        "default": true
      },
      {
        "type": "text",
        "id": "free_shipping_text",
        "label": "Free Shipping Text",
        "default": "$98.99 more<br>to ship for free"
      },
      {
        "type": "text",
        "id": "free_ship",
        "label": "Amount for free shipping",
        "default": "100"
      },
      {
        "type": "html",
        "id": "disclaimner",
        "label": "Disclaimner"
      },
      {
        "type": "header",
        "content": "Related Products - Featured"
      },
      {
        "type": "checkbox",
        "id": "related_featured",
        "label": "Enable featured block?"
      },
      {
        "type": "collection",
        "id": "related_collection",
        "label": "Featured collection"
      },
      {
        "type": "header",
        "content": "Related Products - Related"
      },
      {
        "type": "checkbox",
        "id": "related_tag",
        "label": "Enable related block?"
      },
      {
        "type": "header",
        "content": "Related Products - Recent"
      },
      {
        "type": "checkbox",
        "id": "related_recent",
        "label": "Enable recently viewed block?"
      }
    ],
    "blocks": [
        {
        "type": "video",
        "name": "Product Video",
        "settings": [
          {
            "type": "radio",
            "id": "vide_type",
            "options": [
                { "value": "youtube", "label": "Youtube"},
                { "value": "vimeo", "label": "Vimeo"}
            ],
            "label": "Video Type"
          },
          {
            "type": "text",
            "id": "video_id",
            "label": "Video ID",
            "default": "_9VUPq3SxOc",
            "info": "[Find your YouTube video ID](https://docs.joeworkman.net/rapidweaver/stacks/youtube/video-id)."
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product",
            "info": "Select product where you want to show this video"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Fallback when autoplaying video is not supported on mobile devices"
          }
        ]
      },
      {
      "type": "related_products",
      "name": "Related Products",
      "settings": [
        {
          "type": "product",
          "id": "related_product",
          "label": "Select Product",
          "info": "Select product where you want to display related products"
        },
        {
          "type": "header",
          "content": "Select Related Products"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select First Related Product"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select Second Related Product"
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Select Third Related Product"
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Select Fourth Related Product"
        }
        ]
      }
    ]
  }
{% endschema %}
