{% if section.settings.enable_sidebar %}
  {% if section.settings.sidebar_position == 'sidebar-left' %}
    {%- assign col_width = 'col-md-35 push-md-25' -%}
    {%- assign side_width = 'col-md-20 pull-md-40' -%}
  {% else %}
    {%- assign col_width = 'col-md-35' -%}
    {%- assign side_width = 'col-md-20 offset-md-5' -%}
  {% endif %}
{% else %}
  {%- assign col_width = 'col-md-60' -%}
{% endif %}

<div class="container">
  <div class="row">
    <article class="{{ col_width }}">
      {%- assign start_title = page.content | slice: 0, 3 -%}
      {% unless start_title contains 'h1' %}
        <div class="section-header">
          <h1>{{ page.title }}</h1>
        </div>
      {% endunless %}
      
      <div class="rte">
        {{ page.content }}
      </div>
    </article>

    {% if section.settings.enable_sidebar %}
      <aside class="sidebar-page {{ side_width }}">
        {% include 'sidebar' %}
      </aside>
    {% endif %}
  </div>
</div>
{% comment %}
  <div class="blog--list-view press-posts">
      <div class="container" style="padding:0px;">
            <div class="row" style="margin:0px;">
              {% assign blog = blogs[section.settings.blog] %}
              {% paginate blog.articles by 9999 %}
                {% for article in blog.articles %}
                  <div class="article--listing presslisting listingsmall col-md-20" style="padding:0px 5px;">
                  <div>
                    <a href="{{article.url}}" class="article__list-image" style="background-image:url('{{ article.image.src | img_url: '800x' }}')"></a>
                  <div class="col-md-40 offset-md-10 bloginfo">
                      <h2 class="article__title h3"><a href="{{article.url}}">{{article.title}}</a></h2>
                    {% if section.settings.blog_show_author %}
                      <span class="article__author">by {{article.author}}</span>
                      <br />
                    {% endif %}
                  <ul class="list--inline article__meta-buttons">
                    <li>
                      <a href="{{article.url}}" class="blogrm">
                        Read More
                      </a>
                    </li>
                  </ul>
                  </div>
                  </div>
                </div>
                {% endfor %}
                {% endpaginate %}
        </div>
      </div>
  </div>
  {% endcomment %}
  <style type="text/css">
  .press-posts {
    margin-top: 40px;
  }
    .article__list-image {
      /*height: 70vh;
  }
  .listingsmall .article__list-image {
      {% comment %} height: 45vh; {% endcomment %}*/
  }
  .bloginfo {
      background-color: white;
      position: absolute;
      bottom: 0px;
      right: 0px;
      left: 0px;
      text-align: center;
      padding: 20px;
  }
  .article__title {
      margin-bottom: 10px;
  }
  .blogrm {
      font-size: 1.6em;
  }
  /* .list--inline {
      padding: 0;
      margin: 0;
  } */
  </style>



{% schema %}
  {
    "name": "Page Settings",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable sidebar?"
      },
      {
        "type": "radio",
        "id": "sidebar_position",
        "options": [
          { "value": "sidebar-left", "label": "Left"},
          { "value": "sidebar-right", "label": "Right"}
        ],
        "label": "Sidebar position"
      },
      {
        "type":"blog",
        "id":"blog",
        "label":"Blog"
      }
    ],
    "blocks": [
      {
        "type": "collection_sidebar",
        "name": "Featured Collection",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection to use"
          },
          {
            "type": "select",
            "id": "collection_qty",
            "options": [
              { "value": "2", "label": "2" },
              { "value": "3", "label": "3" },
              { "value": "4", "label": "4" },
              { "value": "5", "label": "5" },
              { "value": "6", "label": "6" }
            ],
            "label": "Number of products to show"
          }
        ]
      },
      {
        "type": "menu_sidebar",
        "name": "Quick Links",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "quick_links",
            "label": "Linklist to use"
          }
        ]
      },
      {
        "type": "image_sidebar",
        "name": "Advertisement",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Ad image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Ad link"
          }
        ]
      },
      {
        "type": "blog_sidebar",
        "name": "Most Recent Blog Post",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Latest Article"
          }
        ]
      }
    ]
  }
{% endschema %}